.alert {
  padding: 10px 20px;
  color: var(--color-black);
  font-size: 14px;
  width: 400px;
  border: 2px solid;
  border-radius: 16px;
  user-select: none;
}

.success {
  background-color: #f6ffed;
  border-color: #b7eb8f;
}

.error {
  background-color: #fff2f0;
  border-color:  #ffccc7;
}

.warning {
  background-color: #fffbe6;
  border-color: #ffe58f;
}
