.button {
  border: none;
  cursor: pointer;
  transition: .2s;
}

.button:active {
  transform: scale(0.95);
}

.normal {
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
}

.small {
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 12px;
}

.dark {
  background-color: var(--color-black);
  color: var(--color-white);
}

.light {
  background-color: var(--color-white);
  color: var(--color-black);
}
