.input {
  border: 2px solid var(--color-black);
}

.normal {
  border-radius: 12px;
  padding: 10px 16px;
  font-size: 16px;
}

.small {
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 12px;
}
