.statusBar {
  display: flex;
  justify-content: flex-end;
  width: var(--container-width);
  height: 48px;
  background-color: var(--color-black);
  margin: 0 auto;
}

.statusBar div {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 8px;
}
